{{page-title "Post"}}

<article>
  <h2 data-test-title>{{this.model.title}}</h2>
  <p data-test-body>{{this.model.body}}</p>
</article>

<p><LinkTo @route="posts.edit" @model={{this.model.id}}>Edit</LinkTo></p>
<p><LinkTo @route="posts">Back to posts</LinkTo></p>
