{{page-title "Posts"}}

<h1>Posts</h1>

<ul>
  {{#each this.model as |post|}}
    <li data-test-post>
      <LinkTo @route="post" @model={{post.id}}>
        {{post.title}}
      </LinkTo>
    </li>
  {{/each}}
</ul>